<link rel="stylesheet" href="/css/game.css" />

<div id="game-container"></div>
<input type="hidden" id="userId" value="<%= user.id %>" />
<script src="/socket.io/socket.io.js"></script>
<script src="/js/snake.js"></script>
<script src="/js/game.js"></script>
