<link rel="stylesheet" href="/css/home.css" />
<link rel="stylesheet" href="/css/login.css" />

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">GameSite</a>
    <a class="btn btn-play-game" href="/game"
      >Play Game <i class="fa-solid fa-play"></i
    ></a>
    <div class="ml-auto d-flex align-items-center">
      <!-- <span class="coins me-3">Coins: <%= user.coins %></span> -->
      <a class="nav-link me-3" href="#"
        ><i class="fa-solid fa-user"></i> <%= user.username %></a
      >
      <a class="btn btn-logout" href="/users/logout"
        >Logout <i class="fa-solid fa-right-from-bracket"></i
      ></a>
    </div>
  </div>
</nav>

<!-- Main Content -->
<div class="container mt-4">
  <!-- Player's Highest Score -->
  <div class="row mb-4">
    <div class="col">
      <h2 class="high-score">
        Your Highest Score: <span id="highScore"><%= user.highScore %></span>
      </h2>
    </div>
  </div>

  <!-- Game Leaderboard -->
  <div class="row">
    <div class="col">
      <h3 class="leaderboard-title">Game Leaderboard</h3>
      <template id="user-template">
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <span id="username">Player1</span>
          <span class="badge badge-primary badge-pill text-dark" id="userscore"
            >Score: 15000</span
          >
        </li>
      </template>
      <ul class="list-group" id="leaderboard">
        <!-- List of players and scores -->
        <!-- More players... -->
      </ul>
    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>
