<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Other head elements -->
    <script src="/js/formSubmitter.js"></script>
  </head>
  <body>
    <main><%- body %></main>
  </body>
</html>
