<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- Other head elements -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.0/p5.min.js"
      integrity="sha512-uaz5GpnQoE6t5echKlX8P52czvsIGgLPcvlzfvRubLZ1Hp8JemUDnbUiAahbVtPb+jUVrNETuXvAhDDF/N3M4w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/js/formSubmitter.js"></script>
  </head>
  <body>
    <main><%- body %></main>
  </body>
</html>
